@{
    ViewBag.Title = "Danh mục thành viên";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}



@section stylecustom{

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
}
@section sciptajax{
@Html.Raw(ViewBag.ScriptAjax)
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Tài khoản - Thành viên > Danh mục thành viên</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">person</i>
                                <span class="font-20">QUẢN LÝ THÀNH VIÊN</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/ThanhVien/tv_TaoMoiThanhVien">
                                            <i class="material-icons">add</i> TẠO MỚI THÀNH VIÊN
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/ThanhVien/tv_TableThanhVien">
                                            <i class="material-icons">list</i> DANH MỤC THÀNH VIÊN
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                            <thead>
                                                <tr>
                                                    <th width="23%">Họ và tên</th>
                                                    <th width="8%">Giới tính</th>
                                                    <th width="10%">Ngày sinh</th>
                                                    <th width="22%">Địa chỉ</th>
                                                    <th width="10%">Số điện thoại</th>
                                                    <th width="12%">Ngày tham gia</th>
                                                    <th width="15%">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                                @*<tr role="row" class="odd">
                    <td>
                        <img width="50px" height="auto;" src="/images/image-gallery/1.jpg">
                        Tăng Thiên Phú
                    </td>
                    <td>
                        Nam
                    </td>
                    <td>02/11/1996</td>
                    <td>107/6 Phan Văn Hân, P.17, Q.Bình Thạnh, TP.HCM</td>
                    <td>0165848382</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Chức năng <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="col-blue"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                <li><a href="#" class="col-red"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td>
                        <img width="50px" height="auto;" src="/images/image-gallery/1.jpg">
                        Tăng Thiên Phú
                    </td>
                    <td>
                        Nam
                    </td>
                    <td>02/11/1996</td>
                    <td>107/6 Phan Văn Hân, P.17, Q.Bình Thạnh, TP.HCM</td>
                    <td>0165848382</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Chức năng <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="col-blue"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                <li><a href="#" class="col-red"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>*@

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem chi tiết thành viên-->
@Html.Raw(ViewBag.ModalChiTiet)
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
