@model List<qlCaPhe.Models.Entities.MenuTools>
<div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne_1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1" class="collapsed">
                    Được phép truy cập vào các chức năng
                </a>
            </h4>
        </div>
        <div id="collapseOne_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                <div class="demo-checkbox">
                    @foreach(var item in Model) //--------Lặp qua các item cha
                    { 
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="heading_@item.Id">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion_@item.Id" href="#collapse_@item.Id" aria-expanded="true" aria-controls="collapseOne_@item.Id">
                                    @item.Name
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_@item.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_@item.Id">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tên chức năng</th>
                                            <th colspan="3">Quyền hạn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var itemCon in item.ListMenuCon)//-----Lặp qua danh sách menu con
                                        { 
                                            string cbbCapNhat = itemCon.IdCha + "_" + itemCon.Id + "_2";
                                            string cbbDoc = itemCon.IdCha + "_" + itemCon.Id + "_4";
                                            string cbbXoa = itemCon.IdCha + "_" + itemCon.Id + "_1";
                                        <tr data-id-parent="@itemCon.IdCha" data-id-child="@itemCon.Id">
                                            <td>@itemCon.Name</td>
                                            <td>
                                                <div class="js-cbbPermission" data-permission="2">
                                                    <input type="checkbox" id="@cbbCapNhat" class="cbPermission filled-in chk-col-red">
                                                    <label for="@cbbCapNhat">@cbbCapNhat</label><br />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="js-cbbPermission" data-permission="@cbbDoc">
                                                    <input type="checkbox" id="@cbbDoc" class="cbPermission filled-in chk-col-red">
                                                    <label for="@cbbDoc">@cbbDoc</label><br />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="js-cbbPermission" data-permission="@cbbXoa">
                                                    <input type="checkbox" id="@cbbXoa" class="cbPermission filled-in chk-col-red">
                                                    <label for="@cbbXoa">@cbbXoa</label><br />
                                                </div>
                                            </td>
                                        </tr>
                                        }
                            

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

