@{
    ViewBag.Title = "Danh mục công thức pha chế";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}



@section stylecustom{
<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />

<link href="~/Content/formWizard.css" rel="stylesheet" />
}
@section sciptajax{
<script src="~/Scripts/formWizard.js"></script>
@Html.Raw(ViewBag.ScriptAjax)
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thực đơn - Đồ uống > Danh mục công thức pha chế</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">transform</i>
                                <span class="font-20">QUẢN LÝ CÔNG THỨC PHA CHẾ @ViewBag.TitleTenSanPham</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs pull-right">
                                    <li class="">
                                        <a href="" class="guiRequest" task="@ViewBag.HrefTaoCongThuc">
                                            <i class="material-icons">add</i> TẠO MỚI CÔNG THỨC PHA CHẾ
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/CongThuc/ct_TableCongThuc">
                                            <i class="material-icons">list</i> DANH MỤC CÔNG THỨC PHA CHẾ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        @*<ul class="nav nav-tabs tab-col-pink" role="tablist">
                                <li role="presentation" class="@ViewBag.Style1"><a href="/CongThuc/ct_TableCongThuc?trangThai=true"><i class="material-icons">check</i>Danh mục công thức còn sử dụng</a></li>
                                <li role="presentation" class="@ViewBag.Style2"><a href="/CongThuc/ct_TableCongThuc?trangThai=false"><i class="material-icons">clear</i>Danh mục công thức ngưng sử dụng</a></li>
                            </ul>*@
                        <div class="dataTables_wrapper form-inline dt-bootstrap">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th rowspan="1" colspan="1" width="20%">Tên công thức</th>
                                                    <th rowspan="1" colspan="1" width="20%">Diễn giải</th>
                                                    <th rowspan="1" colspan="1" width="10%">Trạng thái</th>
                                                    <th rowspan="1" colspan="1" width="10%">Người tạo</th>
                                                    <th rowspan="1" colspan="1" width="10%">Người duyệt</th>
                                                    <th rowspan="1" colspan="1" width="10%">Ngày tạo</th>
                                                    <th rowspan="1" colspan="1" width="15%">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                                @*<tr role="row" class="odd">
                                                        <td>
                                                            <a class="goiY" data-toggle="modal" data-target="#modalChiTiet" style="cursor:pointer">
                                                                <b>Cà phê đen đá</b>
                                                                <span class="noiDungGoiY-top">Click để xem chi tiết công thức</span>
                                                            </a>
                                                        </td>
                                                        <td>Công thức pha chế cà phê đen</td>
                                                        <td>Diễn giải công thức</td>
                                                        <td>ttphu</td>
                                                        <td>30/11/2017 12:00:12</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                                        Chức năng <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu" role="menu">
                                                                        <li><a href="#" class="col-blue waves-effect waves-block"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                                                        <li><a href="#" class="col-red waves-effect waves-block"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                                                                    </ul>
                                                            </div>
                                                        </td>
                                                    </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <a class="col-red"  style="cursor:pointer" href="~/DoUong/du_ChinhSuaDoUong">
                                        <b>&lt;	&lt;	Trở về trang sản phảm</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>


@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem chi tiết công thức-->
@Html.Raw(ViewBag.ModalChiTiet)