@{
    ViewBag.Title = "Danh mục mục tiêu đánh giá";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
@Html.Raw(ViewBag.ScriptAjax)
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Điều phối - Đánh giá > Quản lý mục tiêu đánh giá > Danh mục mục tiêu đánh giá</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">subject</i>
                                <span class="font-20">QUẢN LÝ MỤC TIÊU ĐÁNH GIÁ</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="/DanhGia/mtdg_TaoMoiMucTieuDanhGia">
                                            <i class="material-icons">add</i> TẠO MỚI MỤC TIÊU ĐÁNH GIÁ
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/DanhGia/RouteTableMucTieuDanhGia">
                                            <i class="material-icons">list</i> DANH MỤC MỤC TIÊU ĐÁNH GIÁ
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-nav-right tab-col-pink" role="tablist">
                            <li role="presentation" class="@ViewBag.Style1"><a href="/DanhGia/RouteTableMucTieuDanhGia"><i class="material-icons">done</i>Danh mục mục tiêu đánh giá còn phù hợp</a></li>
                            <li role="presentation" class="@ViewBag.Style2"><a href="/DanhGia/RouteTableMucTieuDanhGiaBiHuy"><i class="material-icons">clear</i>Danh mục mục tiêu đánh giá không phù hợp</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th rowspan="1" width="25%" colspan="1">Tên mục tiêu</th>
                                            <th rowspan="1" width="40%" colspan="1">Diễn giải</th>
                                            <th rowspan="1" width="15%" colspan="1">Ghi chú</th>
                                            <th>Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Raw(ViewBag.TableData)
                                        @*<tr role="row" class="odd">
                    <td>Mục tiêu 1</td>
                    <td>Diễn giải mục tiêu 1</td>
                    <td>Ghi chú</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                Chức năng <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="col-blue waves-effect waves-block"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                <li><a href="#" class="col-orange waves-effect waves-block"><i class="material-icons">clear</i>Tạm ngưng</a></li>
                                <li><a href="#" class="col-red waves-effect waves-block"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>*@
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)