
@{
    ViewBag.Title = "Chỉnh sửa mục tiêu";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Điều phối - Đánh giá > Danh mục mục tiêu đánh giá > Chỉnh sửa mục tiêu đánh giá</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">subject</i>
                                <span class="font-20">CHỈNH SỬA MỤC TIÊU ĐÁNH GIÁ</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="/DanhGia/mtdg_TaoMoiMucTieuDanhGia">
                                            <i class="material-icons">add</i> TẠO MỚI MỤC TIÊU ĐÁNH GIÁ
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/DanhGia/RouteTableMucTieuDanhGia">
                                            <i class="material-icons">list</i> DANH MỤC MỤC TIÊU ĐÁNH GIÁ
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="body">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-md-7 col-lg-7">
                                    <input type="text" id="txtMaMucTieu" class="form-control" style="display:none"
                                           name="txtMaMucTieu" value="@ViewBag.txtMaMucTieu">
                                    <label for="txtTenMucTieu">Tên mục tiêu</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtTenMucTieu" class="form-control" name="txtTenMucTieu" required maxlength="100"
                                                   placeholder="Nhập tên mục tiêu cần đánh giá tại đây" value="@ViewBag.txtTenMucTieu">
                                        </div>
                                    </div>
                                    <label for="txtDienGiai">Diễn giải</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" id="txtDienGiai" class="form-control no-resize" name="txtDienGiai" required maxlength="256"
                                                      placeholder="Nhập thông tin diễn giải cho mục tiêu đánh giá">@ViewBag.txtDienGiai</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <label for="txtGhiChu">Ghi chú</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea rows="8" id="txtGhiChu" class="form-control no-resize" name="txtGhiChu"
                                                          placeholder="Nhập thêm ghi chú cho mục tiêu">@ViewBag.txtGhiChu</textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-7"></div>

                                        <div class="col-md-5">
                                            <br>
                                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu lại</button>
                                            <a href="/DanhGia/mtdg_TaoMoiMucTieuDanhGia" class="btn btn-default m-t-15 waves-effect">Reset</a>
                                            <button onclick="troVeTrangTruoc()" type="button" class="btn btn-default m-t-15 waves-effect">Trở lại</button>
                                        </div>
                                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@Html.Raw(ViewBag.ThongBao)
