@{
    ViewBag.Title = "Danh mục bài viết";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptAjax)
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Bài viết - Phản hồi > Danh mục bài viết</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DANH MỤC BÀI VIẾT CHỜ DUYỆT
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="">
                                <a href="/BaiViet/bv_TableBaiVietDaDuyet">
                                    Danh mục bài viết đã duyệt
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="/BaiViet/bv_TableBaiVietChoDuyet">
                                    Danh mục bài viết chờ duyệt
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="/BaiViet/bv_TableBaiVietBiGoBo">
                                    Danh mục bài viết bị gở bỏ
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th rowspan="1" colspan="1" width="30%">Tên bài viết</th>
                                                    <th rowspan="1" colspan="1" width="15%">Loại tin</th>
                                                    <th rowspan="1" colspan="1" width="15%">Ngày tạo</th>
                                                    <th rowspan="1" colspan="1" width="15%">Ngày đăng</th>
                                                    <th rowspan="1" colspan="1" width="10%">Tác giả</th>
                                                    <th rowspan="1" colspan="1" width="15%"></th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                        <div class="pull-right" id="DataTables_Table_0_paginate">
                                            @Html.Raw(ViewBag.PhanTrang)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem nội dung bài viết-->
@Html.Raw(ViewBag.ModalChiTiet)