@{
    ViewBag.Title = "Danh mục bài viết";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

@section stylecustom{
    <link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
}
@section sciptajax{
    @Html.Raw(ViewBag.ScriptAjax)
    @Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Bài viết - Phản hồi > Danh mục bài viết</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">subtitles</i>
                                <span class="font-20">QUẢN LÝ BÀI VIẾT</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/BaiViet/bv_TaoMoiBaiViet">
                                            <i class="material-icons">add</i> ĐĂNG BÀI VIẾT
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/BaiViet/bv_TableBaiVietDaDuyet">
                                            <i class="material-icons">list</i> DANH MỤC BÀI VIẾT
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink tab-nav-right" role="tablist">
                            <li role="presentation" class="">
                                <a href="/BaiViet/bv_TableBaiVietDaDuyet">
                                    <i class="material-icons">done</i>
                                    Danh mục bài viết đã duyệt
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="/BaiViet/bv_TableBaiVietChoDuyet">
                                    <i class="material-icons">find_replace</i>
                                    Danh mục bài viết chờ duyệt
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="/BaiViet/bv_TableBaiVietBiGoBo">
                                    <i class="material-icons">delete_sweep</i>
                                    Danh mục bài viết bị gở bỏ
                                </a>
                            </li>

                            <li class="pull-right"><button type="button" class="btn bg-purple btn-circle waves-effect waves-circle waves-float" data-toggle="collapse" data-target="#collapse-search" aria-expanded="true" aria-controls="collapse-search"><i class="material-icons">search</i></button></li>
                        </ul>


                        <div class="tab-content">

                            <div class="row">

                                <div class="collapse" id="collapse-search" aria-expanded="true" style="">

                                    <form class="form-horizontal" action="/BaiViet/bv_TableBaiVietChoDuyet" method="post">
                                        <div class="row clearfix">
                                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                                <label for="email_address_2">Tên bài viết</label>
                                            </div>

                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="txtTenBaiViet" class="form-control" name="txtTenBaiViet"
                                                               placeholder="Nhập tên bài viết chờ duyệt cần tìm">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                                <button type="submit" class="btn btn-primary waves-effect">
                                                    <i class="material-icons">search</i>
                                                    <span>TÌM</span>
                                                </button>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>

                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                <div class="row">
                                    <div class="col-sm-12 table-responsive" >
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th rowspan="1" colspan="1" width="30%">Tên bài viết</th>
                                                    <th rowspan="1" colspan="1" width="15%">Loại tin</th>
                                                    <th rowspan="1" colspan="1" width="15%">Ngày tạo</th>
                                                    <th rowspan="1" colspan="1" width="15%">Ngày đăng</th>
                                                    <th rowspan="1" colspan="1" width="10%">Tác giả</th>
                                                    <th rowspan="1" colspan="1" width="15%"></th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                        <div class="pull-right" id="DataTables_Table_0_paginate">
                                            @Html.Raw(ViewBag.PhanTrang)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem nội dung bài viết-->
@Html.Raw(ViewBag.ModalChiTiet)