@{
    ViewBag.Title = "Danh mục nhập kho";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptAjax)
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nhập - Xuất kho > Danh mục nhập hàng</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">cloud_download</i>
                                <span class="font-20">QUẢN LÝ NHẬP KHO</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/NhapKho/nk_TaoMoiPhieuNhap">
                                            <i class="material-icons">add</i> TẠO MỚI PHIẾU NHẬP KHO
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/NhapKho/nk_TablePhieuNhap">
                                            <i class="material-icons">list</i> DANH MỤC PHIẾU NHẬP KHO
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr>
                                                <th rowspan="1" width="15%" colspan="1">Số phiếu nhập</th>
                                                <th rowspan="1" width="20%" colspan="1">Kho hàng</th>
                                                <th rowspan="1" width="20%" colspan="1">Ngày nhập</th>
                                                <th rowspan="1" width="15%" colspan="1">Tổng số tiền</th>
                                                <th rowspan="1" width="15%" colspan="1">Người lập phiếu</th>
                                                <th rowspan="1" width="15%" colspan="1">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tfoot>

                                        </tfoot>
                                        <tbody>
                                            @Html.Raw(ViewBag.TableData)

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

    <!-- Modal cho danh sách chi tiết hoá đơn-->
    <div class="modal fade" id="modalChiTiet" tabindex="-2" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg" style="width:90%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="largeModalLabel">CHI TIẾT PHIẾU NHẬP 1321</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="header bg-cyan">
                                    <h2>
                                        Danh mục nguyên liệu trong phiếu nhập
                                    </h2>
                                </div>
                                <div class="body table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên nguyên liệu</th>
                                                <th>Nhà cung cấp</th>
                                                <th>Số lượng nhập</th>
                                                <th>Đơn giá nhập</th>
                                                <th>Ghi chú</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img width="50px;" height="50px;" src="/images/image-gallery/1.jpg" />
                                                    <b>Hạt cà phê</b>
                                                </td>
                                                <td>
                                                    Trung nguyên
                                                </td>
                                                <td>500 kg</td>
                                                <td>20.000</td>
                                                <td>
                                                    Hàng còn tốt
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-9">
                            <div class="pull-left">
                                <label class="font-18 pull-left col-red bold">Tổng tiền: 25.000.000 VNĐ</label><br />
                                <label class="pull-left col-blue-grey"><i>* Ghi chú: </i>Ghi chú của phiếu nhập Ghi chú của phiếu nhập</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i class="material-icons">exit_to_app</i>Đóng lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <!-- Modal cho danh sách chi tiết  -->
</section>
@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem chi tiết công thức-->
@Html.Raw(ViewBag.ModalChiTiet)