@{
    ViewBag.Title = "Danh mục đồ uống";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
<link href="~/Content/formWizard.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptAjax)
@Html.Raw(ViewBag.ScriptAjaxXemHinh)
@Html.Raw(ViewBag.ScriptAjaxXemCongThuc)

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thực đơn - Đồ uống > Danh mục đồ uống</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">local_cafe</i>
                                <span class="font-20">QUẢN LÝ ĐỒ UỐNG</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/DoUong/du_TaoMoiDoUong">
                                            <i class="material-icons">add</i> TẠO MỚI ĐỒ UỐNG
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/DoUong/RouteDoUongDuocBan">
                                            <i class="material-icons">list</i> DANH MỤC ĐỒ UỐNG
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink" role="tablist">

                            <li role="presentation" class="@ViewBag.Style1"><a href="/DoUong/RouteDoUongDuocBan"><i class="material-icons">done</i>Danh mục đồ uống được bán</a></li>
                            <li role="presentation" class="@ViewBag.Style2"><a href="/DoUong/RouteDoUongChoDuyet"><i class="material-icons">find_replace</i>Danh mục đồ uống chờ duyệt</a></li>
                            <li role="presentation" class="@ViewBag.Style3"><a href="/DoUong/RouteDoUongDaHuy"><i class="material-icons">delete_sweep</i>Danh mục đồ uống tạm ngưng</a></li>

                        </ul>
                        <div class="tab-content">
                            <div class="">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                <thead>
                                                    <tr>
                                                        <th width="20%" rowspan="1" colspan="1">Tên đồ uống</th>
                                                        <th width="10%" rowspan="1" colspan="1">Tên loại</th>
                                                        <th width="25%" rowspan="1" colspan="1">Mô tả</th>
                                                        <th width="15%" rowspan="1" colspan="1">Đơn giá</th>
                                                        <th width="10%" rowspan="1" colspan="1">Pha chế</th>
                                                        <th width="20%" rowspan="1" colspan="1"></th>
                                                    </tr>
                                                </thead>
                                                <tfoot>

                                                </tfoot>
                                                <tbody id="vungDanhSach">
                                                    @Html.Raw(ViewBag.TableData)
                                                    @*<tr role="row" class="odd">
                                                            <td>

                                                                <a href="#" data-toggle="modal" data-target="#modalChiTiet" class="goiY">
                                                                    Tên sản phẩm
                                                                    <span class="noiDungGoiY-right">Click để xem chi tiết</span>
                                                                </a>
                                                            </td>
                                                            <td>Cà phê</td>
                                                            <td>Thơm ngon, được làm từ cà phê nguyên chất</td>
                                                            <td>25.000 VNĐ</td>
                                                            <td>5 phút</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                        Chức năng <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu" role="menu">
                                                                        <li><a href="#" class="col-blue"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                                                        <li><a href="#" class="col-orange"><i class="material-icons">clear</i>Ngưng bán</a></li>
                                                                        <li><a href="#" class="col-red"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 pull-right">
                                            <div class="pull-right" id="DataTables_Table_0_paginate">
                                                @Html.Raw(ViewBag.PhanTrang)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

</section>
<style type="text/css">
    .MenuTrang li {
        display: inline;
    }
</style>
@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem hình sản phẩm-->
@Html.Raw(ViewBag.ModalChiTiet)

@Html.Raw(ViewBag.ModalCongThuc)


