@model qlCaPhe.Models.baiViet
@using qlCaPhe.App_Start
@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="container">
    <div class="single">
        <div class="single-top">
            <div class="text-in">
                <div class="single-men">
                    <h5 class="tieude-baiviet">@xulyDuLieu.traVeKyTuGoc(Model.tenBaiViet)</h5>

                    <div class="pull-right ngaydang-baiviet">Ngày đăng: @Model.ngayDang.Value.ToShortDateString()</div>
                    <br/><br /><br />

                    <p class="tomtat-baiviet">@xulyDuLieu.traVeKyTuGoc(Model.noiDungTomTat)</p>
                    <br/>

                    <div class="noidung-baiviet">
                            @Html.Raw(ViewBag.NoiDungBaiViet)
                    </div>
                    <b class="pull-right">Tác giả:   @xulyDuLieu.traVeKyTuGoc(Model.taiKhoan.thanhVien.hoTV + " " + Model.taiKhoan.thanhVien.tenTV)</b>
                </div>

            </div>
        </div>
    </div>
</div>
