@model qlCaPhe.Models.sanPham
           @using qlCaPhe.App_Start
@{
    ViewBag.Title = @xulyDuLieu.traVeKyTuGoc(Model.tenSanPham);
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="container">
    <div class="single">
        <div class="single-top">
            <div class="text-in">
                <div class="single-men">
                    <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12">
                        <img class="img-responsive" src="@xulyDuLieu.chuyenByteHinhThanhSrcImage(Model.hinhAnh)" alt="" />
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-8 col-xs-12">
                        <h5>@xulyDuLieu.traVeKyTuGoc(Model.tenSanPham)</h5>

                        <p>
                          @xulyDuLieu.traVeKyTuGoc(Model.moTa)
                        </p>

                        <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">
                            <h4>Giá tiền: <span style="color:#ff0000">@xulyDuLieu.doiVND(Model.donGia)</span></h4>
                        </div>
                        <div class="col-md-7 col-lg-7 col-xs-12 col-sm-12">
                            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-12">
                                <a class="btn btn-success" href="~/PublicPage/DanhSachBan">
                                <span class="glyphicon glyphicon-edit" style="color:#fff;"></span> Đặt chỗ ngay</a>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <a class="btn btn-info " href="~/PublicPage/ThongTinLienHe"><span class="glyphicon glyphicon-earphone" 
                                                               style="color:#fff;"></span> Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>