@model List<qlCaPhe.Models.baiViet>
@using qlCaPhe.App_Start

@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<link href="~/Content/Puclic/style.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-8 duis-1 col-lg-8 col-sm-10 col-xs-12">
            @foreach (var bv in Model)
            {
                string tenBV = xulyDuLieu.traVeKyTuGoc(bv.tenBaiViet);
                string urlDetail = xulyDuLieu.taoUrlChoSEO("bai-viet", tenBV, bv.maBaiViet.ToString());
                
                <a href="@urlDetail" class="baiViet">
                    <div class="duis-right">
                        <h5>@tenBV</h5>
                        <img src="@xulyDuLieu.chuyenByteHinhThanhSrcImage(bv.hinhDD)" style="width:100%; height:auto;" />
                    </div>
                    <div class="clearfix"></div>
                    <p>@xulyDuLieu.traVeKyTuGoc(bv.noiDungTomTat) </p>
                    <a class="btn btn-link btn-doctiep" href="@urlDetail">Đọc tiếp</a>
                </a>
            }
        </div>

        <div class="col-md-4 col-lg-4 col-sm-2 duis-top">
            <h3>Loại đồ uống</h3>
            <div class="list-group">
                @Html.Raw(ViewBag.LoaiSanPham)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row clearfix">

            <div class="col-md-8 duis-1 col-lg-8 col-sm-10 col-xs-12">
                <div class="pull-right phantrang-pulic">
                    @Html.Raw(ViewBag.PhanTrang)
                </div>
            </div>

        </div>
    </div>
</div>