
@model qlCaPhe.Models.Feedback

@{
    ViewBag.Title = "Gửi phản hồi";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


<div class="container">
    <div class="contact">
        <div class="contact-in">
            <h3>Phản hồi</h3>
            <div class=" col-md-9 contact-left">

                <form action="/PublicPage/GuiPhanHoi" method="post">
                    @Html.ValidationSummary(true)
                    <div>
                        <span>Họ và tên</span>
                        @Html.TextBoxFor(model => model.tenNguoiGui, new { placeholder = "Nhập họ và tên của bạn tại đây", required = "required" })
                        @Html.ValidationMessageFor(m => m.tenNguoiGui)
                    </div>
                    <div>
                        <span>E-Mail</span>
                        @Html.TextBoxFor(model => model.email, new { placeholder = "Nhập địa chỉ Email của bạn", required = "required" })
                        @Html.ValidationMessageFor(m => m.email)
                    </div>
                    <div>
                        <span>Tiêu đề</span>
                        @Html.TextBoxFor(model => model.tieuDe, new { placeholder = "Nhập tiêu đề, chủ đề cần phản hồi", required = "required" })
                        @Html.ValidationMessageFor(m => m.tieuDe)
                    </div>
                    <div>
                        <span>Nội dung</span>
                        @Html.TextAreaFor(model => model.noiDung, new { placeholder = "Nhập nội dung chi tiết ý kiến của bạn", required = "required" })
                        @Html.ValidationMessageFor(m => m.noiDung)
                    </div>
                    <div>
                        <span><input type="submit" value="Gửi phản hồi"></span>
                    </div>
                </form>
            </div>

            <div class=" col-md-3 contact-right">
                <h5>Kính gửi:</h5>
                <p>Mọi thông tin phản hồi của quý khách sẽ được nhân viên quán tiếp nhận và trả lời nhanh chóng.</p>
                <p>Xin chân thành cảm ơn !!!</p>
            </div>
            <div class="clearfix"></div>
        </div>

     
    </div>
</div>

