@model qlCaPhe.Models.cauHinh
           @using qlCaPhe.App_Start

@{
    ViewBag.Title = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@Html.Raw(ViewBag.ScriptAPI)
<script src="~/Scripts/googleMap.js"></script>
<section class="scripts">
    @Html.Raw(ViewBag.ScriptMap)
</section>
<div class="container">
    <div class="contact">
        <div class="contact-in">
            <h3>Liên hệ</h3>
            <div class=" col-md-9 contact-left">
                <h5>Vị trí trên Google maps</h5>
                <!-- This is the div that will contain the Google Map -->
                <div id="map_canvas" style="height: 600px;"></div>
            </div>

            <div class=" col-md-3 contact-right">
                <h5>Thông tin quán</h5>
                <p>@xulyDuLieu.traVeKyTuGoc(Model.diaChi)</p>
                <p>Phone:@xulyDuLieu.traVeKyTuGoc(Model.hotLine)</p>
                <p>Email: <a href="mailto:@xulyDuLieu.traVeKyTuGoc(Model.email)">@xulyDuLieu.traVeKyTuGoc(Model.email)</a></p>
                <p>
                    Follow on:
                    <div class="social">
                        <ul>
                            <li><a href="@xulyDuLieu.traVeKyTuGoc(Model.facebook)"><i class="facebok"> </i></a></li>
                            <li><a href="@xulyDuLieu.traVeKyTuGoc(Model.twitter)"><i class="twiter"> </i></a></li>
                            <li><a href="@xulyDuLieu.traVeKyTuGoc(Model.googlePlus)"><i class="goog"> </i></a></li>
                        </ul>
                    </div>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>


