@{
    ViewBag.Title = "Chỉnh sửa loại đồ uống";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Thực đơn - Đồ uống > Danh muc loại đồ uống > Chỉnh sửa loại đồ uống</h2>
        </div>


        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">bookmark</i>
                                <span class="font-20">CHỈNH SỬA THÔNG TIN LOẠI ĐỒ UỐNG</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/LoaiDoUong/ldu_TaoMoiLoaiDoUong">
                                            <i class="material-icons">add</i> TẠO MỚI LOẠI ĐỒ UỐNG
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="~/LoaiDoUong/ldu_TableLoaiDoUong">
                                            <i class="material-icons">list</i> DANH MỤC LOẠI ĐỒ UỐNG
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <div class="body">
                        @using (Html.BeginForm())
{
    <input type="hidden" value="@ViewBag.txtMaLoai" name="txtMaLoai" />
                            <div class="row">
                                <div class="col-md-7 col-lg-7">
                                    <label for="txtTenLoai">Tên loại</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtTenLoai" name="txtTenLoai" class="form-control" required pattern=".{2,50}"
                                                   placeholder="Nhập tên loại đồ uống tại đây" value="@ViewBag.txtTenLoai">
                                        </div>
                                    </div>
                                    <label for="txtDienGiai">Diễn giải</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" id="txtDienGiai" name="txtDienGiai" class="form-control no-resize"
                                                      required maxlength="250" placeholder="Nhập thông tin diễn giải cho loại đồ uống">@ViewBag.txtDienGiai
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <label for="txtGhiChu">Ghi chú</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea rows="8" id="txtGhiChu" class="form-control no-resize" name="txtGhiChu" placeholder="Nhập thêm ghi chú cho loại đồ uống">@ViewBag.txtGhiChu</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-7"></div>

                                    <div class="col-md-5">
                                        <br>
                                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu lại</button>
                                        <a href="/LoaiDoUong/ldu_TaoMoiLoaiDoUong" class="btn btn-default m-t-15 waves-effect">Reset</a>
                                        <button type="button" onclick="troVeTrangTruoc()" class="btn btn-default m-t-15 waves-effect">Trở lại</button>
                                    </div>
                                </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
<!-- Modal -->
@Html.Raw(@ViewBag.ThongBao)