@model List<qlCaPhe.Models.Entities.MenuTools>
<div class="menu">
    <ul class="list">
        <li class="header">MENU CÔNG CỤ</li>
        @{
    foreach (var menuItem in Model)
    {
        <li class="@menuItem.CssClass">
            @if (!menuItem.Link.Equals("")) //-------Nếu có link
            {
                <a href="@menuItem.Link">
                    <i class="material-icons">@menuItem.Icon</i>
                    <span>@menuItem.Name</span>
                </a>
            }
            else
            {
                <a class="menu-toggle">
                    <i class="material-icons">@menuItem.Icon</i>
                    <span>@menuItem.Name</span>
                </a>
            }
            @if (menuItem.ListMenuCon.Count > 0)
            {
                <ul class="ml-menu">
                    @foreach(var menuCon in menuItem.ListMenuCon)
                    { 
                    <li>
                        @if (!menuCon.Link.Equals("")) //-------Nếu có link
                        {
                            <a href="@menuCon.Link">
                                <i class="material-icons">@menuCon.Icon</i>
                                <span>@menuCon.Name</span>
                            </a>
                        }
                        else
                        {
                            <a class="menu-toggle">
                                <i class="material-icons">@menuCon.Icon</i>
                                <span>@menuCon.Name</span>
                            </a>
                        }
                    </li>
                    }
                </ul>
            } <!--End if-->
        </li>
    } <!--End loop menu cha-->
}


        @*<li class="active">
            <a href="#">
                <i class="material-icons">home</i>
                <span>Vùng làm việc</span>
            </a>
           
        </li>

     <li>
            <a class="menu-toggle">
                <i class="material-icons">event_seat</i>
                <span>Cơ sở - Vật chất</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/KhuVuc/kv_TableKhuVuc">
                        <i class="material-icons">blur_circular</i>
                        <span>Quản lý khu vực</span>
                    </a>
                </li>
                <li>
                    <a href="~/Ban/b_TableBan">
                        <i class="material-icons">vibration</i>
                        <span>Quản lý bàn - chỗ ngồi</span>
                    </a>
                </li>
                <li>
                    <a href="~/KhoHang/kh_TableKhoHang">
                        <i class="material-icons">view_array</i>
                        <span>Quản lý kho hàng</span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a class="menu-toggle">
                <i class="material-icons">local_drink</i>
                <span>Thực đơn - Đồ uống</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/LoaiDoUong/ldu_TableLoaiDoUong">
                        <i class="material-icons">bookmark</i>
                        <span>Quản lý loại đồ uống</span>
                    </a>
                </li>
                <li>
                    <a href="/DoUong/RouteDoUongDuocBan">
                        <i class=" material-icons">
                            local_cafe
                        </i>
                        <span>Quản lý đồ uống</span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a class="menu-toggle">
                <i class="material-icons">event_note</i>
                <span>Đặt bàn - Thanh toán</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/NghiepVuBan/nvb_QuanLyDatBanTaiQuan">
                        <i class="material-icons">receipt</i>
                        <span>Đặt bàn - Order</span>
                    </a>
                </li>
                <li>
                    <a href="~/HoaDon/hd_TableHoaDonChoThanhToan">
                        <i class="material-icons">payment</i>
                        <span>Thanh toán - tính tiền</span>
                    </a>
                </li>
                <li>
                    <a href="~/HoaDon/hd_TableHoaDonOrderTrongNgay">
                        <i class="material-icons">playlist_add_check</i>
                        <span>Danh mục hoá đơn</span>
                    </a>
                </li>
                <li>
                    <a href="~/NhanBan/TableNhanBanOnline">
                        <span>Danh mục đặt bàn online</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu-toggle">
                <i class="material-icons">local_dining</i>
                <span>Pha chế - Phục vụ</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/PhaChe/pc_PhaCheTheoBan">
                        <i class="material-icons">cached</i>
                        <span>Tiếp nhận pha chế</span>
                    </a>
                </li>
                <li>
                    <a href="~/PhucVu/pv_DanhSachBanCanPhucVuDoUong">
                        <i class="material-icons">add_alert</i>
                        <span>Đã pha chế xong</span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a class="menu-toggle">
                <i class="material-icons">layers</i>
                <span>Nguyên liệu - Nhà cung cấp</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/LoaiNguyenLieu/lnl_TableLoaiNguyenLieu">
                        <i class="material-icons">bookmark</i>
                        <span>Quản lý loại nguyên liệu</span>
                    </a>
                </li>
                <li>
                    <a href="~/NguyenLieu/nl_TableNguyenLieu">
                        <i class="material-icons">layers</i>
                        <span>Quản lý nguyên liệu</span>
                    </a>
                </li>
                <li>
                    <a href="~/NhaCungCap/ncc_TableNhaCungCap">
                        <i class="material-icons">local_grocery_store</i>
                        <span>Quản lý nhà cung cấp</span>
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a class="menu-toggle">
                <i class="material-icons">store_mall_directory</i>
                <span>Nhập - Xuất kho</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a class="menu-toggle waves-effect">
                        <i class="material-icons">inbox</i>
                        <span>Thẻ kho</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="~/NhapKho/nk_TablePhieuNhap">
                                <i class="material-icons">cloud_download</i>
                                <span>Quản lý nhập hàng</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/XuatKho/xk_TableXuatKho">
                                <i class="material-icons">cloud_upload</i>
                                <span>Quản lý xuất kho</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="menu-toggle waves-effect">
                        <i class="material-icons">save</i>
                        <span>Danh mục hàng tồn</span>
                    </a>

                    <ul class="ml-menu">
                        <li>
                            <a>
                                <i class="material-icons">today</i>
                                <span>Tồn kho theo ngày</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                <i class="material-icons">view_week</i>
                                <span>Tồn kho theo tuần</span>
                            </a>
                        </li>

                        <li>
                            <a href="/TonKho/tkho_TableTonKhoTheoThang">
                                <i class="material-icons">view_list</i>
                                <span>Tồn kho theo tháng</span>
                            </a>
                        </li>

                        <li>
                            <a href="~/TonKho/tkho_KiemKeKho">
                                <i class="material-icons">spellcheck</i>
                                <span>Kiểm kê kho hàng</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>


        </li>

        <li>
            <a class="menu-toggle">
                <i class="material-icons">schedule</i>
                <span>Điều phối - Đánh giá</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/CaLamViec/ca_TaoMoiCaLamViec">
                        <span>Tạo mới ca làm việc</span>
                    </a>
                </li>
                <li>
                    <a href="~/CaLamViec/ca_TableCaLamViec">
                        <span>Danh mục ca làm việc</span>
                    </a>
                </li>
                <li>
                    <a href="~/BangCongTac/TaoMoiBangCongTac">
                        <span>Phân chia công tác</span>
                    </a>
                </li>
                <li>
                    <a href="~/BangCongTac/TableBangCongtac">
                        <span>Bảng công tác</span>
                    </a>
                </li>
                <li>
                    <a href="~/DanhGia/mtdg_TaoMoiMucTieuDanhGia">
                        <span>Tạo mới mục tiêu đánh giá</span>
                    </a>
                </li>
                <li>
                    <a href="~/DanhGia/mtdg_TableMucTieuDanhGia">
                        <span>Danh mục mục tiêu đánh giá</span>
                    </a>
                </li>
                <li>
                    <a href="~/DanhGia/DanhGiaNhanVien">
                        <span>Đánh giá nhân viên</span>
                    </a>
                </li>
                <li>
                    <a href="~/DanhGia/DanhMucDanhGia">
                        <span>Danh mục đánh giá nhân viên</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu-toggle">
                <i class="material-icons">border_color</i>
                <span>Bài viết - Phản hồi</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/BaiViet/bv_TableBaiVietDaDuyet">
                        <i class="material-icons">subtitles</i>
                        <span>Quản lý bài viết</span>
                    </a>
                </li>
                <li>
                    <a href="~/PhanHoi/TablePhanHoi">
                        <i class="material-icons">comment</i>
                        <span>Danh mục phản hồi</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu-toggle">
                <i class="material-icons">settings</i>
                <span>Cấu hình - Nhật ký</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="~/CauHinh/ch_ThietLapThongSoChung">
                        <i class="material-icons">system_update</i>
                        <span>Thiết lập thông số chung</span>
                    </a>
                </li>
                <li>
                    <a href="~/Slide/sl_TableSlideShow?trangThai=true">
                        <i class="material-icons">slideshow</i>
                        <span>Quản lý Slideshow</span>
                    </a>
                </li>
                <li>
                    <a href="~/NhatKy/NhatKyTruyCap">
                        <span>Nhật ký truy cập</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu-toggle">
                <i class="material-icons">pie_chart</i>
                <span>Thống kê</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="#">
                        <span>Thống kê 1...</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Thống kê 2...</span>
                    </a>
                </li>
            </ul>
        </li>*@

    </ul>
</div>