@model List<qlCaPhe.Models.Entities.MenuTools>
<div class="menu">
    <ul class="list">
        <li class="header">MENU CÔNG CỤ</li>
        @{
    foreach (var menuItem in Model)
    {
        <li class="@menuItem.CssClass">
            @if (!menuItem.Link.Equals("")) //-------Nếu có link
            {
                <a href="@menuItem.Link">
                    <i class="material-icons">@menuItem.Icon</i>
                    <span>@menuItem.Name</span>
                </a>
            }
            else
            {
                <a class="menu-toggle">
                    <i class="material-icons">@menuItem.Icon</i>
                    <span>@menuItem.Name</span>
                </a>
            }
            @if (menuItem.ListMenuCon.Count > 0)
            {
                <ul class="ml-menu">
                    @foreach(var menuCon in menuItem.ListMenuCon)
                    { 
                    <li>
                        @if (!menuCon.Link.Equals("")) //-------Nếu có link
                        {
                            <a href="@menuCon.Link">
                                <i class="material-icons">@menuCon.Icon</i>
                                <span>@menuCon.Name</span>
                            </a>
                        }
                        else
                        {
                            <a class="menu-toggle">
                                <i class="material-icons">@menuCon.Icon</i>
                                <span>@menuCon.Name</span>
                            </a>
                        }
                    </li>
                    }
                </ul>
            } <!--End if-->
        </li>
    } <!--End loop menu cha-->
}


    </ul>
</div>