@{
    ViewBag.Title = "Danh mục tài khoản";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}
@Html.Raw(ViewBag.ScriptAjax)
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Tài khoản - Thành viên > Danh mục tài khoản</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">account_circle</i>
                                <span class="font-20">QUẢN LÝ TÀI KHOẢN</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li>
                                        <a href="~/TaiKhoan/tk_TaoMoiTaiKhoan">
                                            <i class="material-icons">add</i> TẠO MỚI TÀI KHOẢN
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/TaiKhoan/RouteTaiKhoanHoatDong">
                                            <i class="material-icons">list</i> DANH MỤC TÀI KHOẢN
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <ul class="nav nav-tabs tab-col-pink" role="tablist">
                            <li role="presentation" class="@ViewBag.Style1"><a href="/TaiKhoan/RouteTaiKhoanHoatDong"><i class="material-icons">done</i>Danh mục tài khoản còn hoạt động</a></li>
                            <li role="presentation" class="@ViewBag.Style2"><a href="/TaiKhoan/RouteTaiKhoanCamTruyCap"><i class="material-icons">clear</i>Danh mục tài khoản bị cấm truy cập</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                <thead>
                                                    <tr>
                                                        <th width="15%">Tài khoản</th>
                                                        <th width="20%">Tên nhóm</th>
                                                        <th width="20%">Thành viên</th>
                                                        <th width="20%">Trạng thái</th>
                                                        <th width="25%">Chức năng</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>

                                                </tfoot>
                                                <tbody>
                                                    @Html.Raw(ViewBag.TableData)

                                                    @*<tr role="row" class="odd">
                    <td>ttphu</td>
                    <td>
                        Nhóm quản lý
                    </td>
                    <td>Tăng Thiên Phú</td>
                    <td>Được phép truy cập</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Chức năng <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="col-blue"><i class="material-icons">mode_edit</i>Chỉnh sửa</a></li>
                                <li><a href="#" class="col-orange"><i class="material-icons">spellcheck</i>Cấm/Cho phép truy cập</a></li>
                                <li><a href="#" class="col-red"><i class="material-icons">delete</i>Xoá bỏ</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                        <div class="pull-right" id="DataTables_Table_0_paginate">
                                            @Html.Raw(ViewBag.PhanTrang)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
