
@{
    ViewBag.Title = "pc_PhaCheTheoThoiGian";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}



<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)

<link href="~/Content/formWizard.css" rel="stylesheet" />
<script src="~/Scripts/formWizard.js"></script>
<script>
    $(document).ready(function () {
        xemCongThuc();
    });
    //----Script xem công thức pha chế
    function xemCongThuc() {
        $("#vungChiTiet").on("click", ".btnCongThuc", function (e) {
            var ts = $(this).attr('maCongThuc');
            $.ajax({
                url: getDuongDan() + 'CongThuc/AjaxXemChiTietCongThuc?maCongThuc=' + ts,
                type: 'GET',
                context: this,
                dataType: 'html',
                beforeSend: function () {
                    //---Sự kiện unbind không click vào item nữa
                    e.preventDefault();
                    e.stopImmediatePropagation();
                },
                success: function (data, textStatus, xhr) {
                    $('#vungCongThuc').empty();
                    $('#vungCongThuc').html(data);//------Lấy chuỗi html tạo nên bảng
                    $('#modalCongThuc').modal('show');
                    xemCongThuc();
                },
                error: function (xhr, textStatus, errorThrown) {
                    xemCongThuc();
                }
            });
        });
    }
</script>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Pha chế - Phục vụ > Tiếp nhận pha chế</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="header">
                        <h2>
                            <i class="material-icons">cached</i>
                            DANH SÁCH PHA CHẾ
                        </h2>
                    </div>

                    <div class="body">

                        <ul class="nav nav-tabs tab-col-pink" role="tablist">

                            <li role="presentation" ><a href="/PhaChe/pc_PhaChetheoBan"><i class="material-icons">markunread_mailbox</i>Pha chế theo bàn</a></li>
                            <li role="presentation" ><a href="/PhaChe/pc_PhaCheTheoSanPham"><i class="material-icons">room_service</i>Pha chế theo sản phẩm</a></li>
                            <li role="presentation" class="active"><a href="/PhaChe/pc_PhaCheTheoThoiGian"><i class="material-icons">timer</i>Pha chế theo thời gian</a></li>

                        </ul>

                        <div class="tab-content">

                            <div class="table-responsive">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">

                                                <thead>
                                                    <tr>

                                                        <th rowspan="1" width="20%" colspan="1">Thời gian</th>
                                                        <th rowspan="1" width="20%" colspan="1">Số lượng</th>
                                                        <th rowspan="1" width="20%" colspan="1">Chức năng</th>

                                                    </tr>
                                                </thead>

                                                <tfoot>

                                                </tfoot>

                                                <tbody>
                                                    @Html.Raw(ViewBag.TableData)
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                                    <div class="row"><div class="col-sm-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

@Html.Raw(ViewBag.ModalChiTiet)
@Html.Raw(ViewBag.ScriptAjaxXemCongThuc)
@Html.Raw(ViewBag.ModalCongThuc)





