@{
    ViewBag.Title = "Vùng làm việc";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>

        <!-- Thống kê số lượng bàn -->
        @Html.Action("tools_PartThongKeSoLuongBan", "Tools_VungLamViec")
        <!-- #END# Thống kê số lượng bàn -->


        <div class="row clearfix">
            <!-- Đặt bàn online -->
            @Html.Action("tools_PartDatBanOnline", "Tools_VungLamViec")
            <!-- #END# Đặt bàn online -->
            <!-- Phản hồi -->
            @Html.Action("tools_PartPhanHoi", "Tools_VungLamViec")
            <!-- #END# Phản hồi -->
            <!-- Bài viết mới -->
            @Html.Action("tools_PartBaiViet", "Tools_VungLamViec")
            <!-- #END# Bài viết mới-->
        </div>


        <div class="row clearfix">          
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none;" id="js-vung-thongke">
                <!-- Thống kê sản phảm chạy -->
                @Html.Action("tools_ThongKeSanPham", "Tools_VungLamViec")
                <!-- #END# Thống kê sản phảm chạy  -->
                @Html.Action("tools_ThongKeDoanhThuTuan", "Tools_VungLamViec")
            </div> 
            
            
        </div> 

        <div class="row clearfix">
            <!-- Thống kê nguyên liệu tồn dưới cảnh báo-->
            @Html.Action("tools_PartTonKhoDuoiCanhBao", "Tools_VungLamViec")
            <!-- #END# Thống kê nguyên liệu tồn dưới cảnh báo-->
        </div> 

        <div class="row clearfix" >
            @Html.Action("tools_PartThongBaoKiemKeKho", "Tools_VungLamViec")
        </div>

        <div class="row clearfix">
            <!-- Nhật ký-->
            @Html.Action("tools_PartNhatKy", "Tools_VungLamViec")
            <!-- #END# Nhật ký -->
        </div>

        <!-- Download app-->
        @Html.Action("tools_PartDownloadApp", "Tools_VungLamViec")
        <!-- #END# Download app -->
    </div>
</section>

