<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" contet="text/html; charset=utf-8" />
    <meta name="keywords" content="Cà phê, quản lý, hưởng thụ, bồi bàn, nước ngọt, coffee, enjoy" />

    <link rel="shortcut icon" href="~/images/icon-website.png" type="image/x-icon">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Puclic/style.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/fontGoogle.css" rel="stylesheet" />
    <link href="~/Content/Puclic/magnific-popup.css" rel="stylesheet" />

    @RenderSection("css", false)

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Public/move-top.js"></script>
    <script src="~/Scripts/Public/easing.js"></script>
    <script src="~/Scripts/Public/nivo-lightbox.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
</head>
<body>
    <!-- header -->
    @Html.Action("Part_Header", "PublicPage")
    <!-- header -->
    <div>
        @RenderBody()
    </div>






    <!-- Vùng hiển thị footer -->
    @Html.Action("Part_Footer", "PublicPage")

    <!-- footer -->
    <div class="footer-bottom">
        <div class="container">
            <p>Copyrights © 2018 Developed by <a target="_blank" href="https://www.linkedin.com/in/ph%C3%BA-t%C4%83ng-thi%C3%AAn-896254125/">Tăng Thiên Phú</a>| Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
    <!-- footer -->
</body>
</html>
