<!DOCTYPE html>
@using qlCaPhe.App_Start;
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="shortcut icon" href="~/images/icon-website.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <!-- Google Fonts -->
    <link href="~/Content/css.css" rel="stylesheet" />
    <link href="~/Content/icon.css" rel="stylesheet" />
    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Wait Me Css -->
    <link href="~/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!--AdminBSB Themes.-->
    <link href="~/Content/themes/all-themes.css" rel="stylesheet" />
    <!-- Colorpicker Css -->
    <link href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="~/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <!-- Multi Select Css -->
    <link href="~/plugins/multi-select/css/multi-select.css" rel="stylesheet" />
    <!-- Bootstrap Spinner Css -->
    <link href="~/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet" />
    <!-- Bootstrap Tagsinput Css -->
    <link href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="~/plugins/nouislider/nouislider.min.css" rel="stylesheet" />
    <!--CSS thêm cho trang quản trị-->
    <link href="~/Content/styleTool.css" rel="stylesheet" />
    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <script src="~/Scripts/dungChung.js"></script>



    <script src="~/Scripts/Ajax/ajaxGuiRequest.js"></script>

    @RenderSection("stylecustom", false)

    @RenderSection("scripthead", false)
</head>
<body class="theme-red" id="body">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>  <!-- #END# Page Loader -->


    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="NHẬP NỘI DUNG CẦN TÌM KIẾM...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a class="bars"></a>
                <a class="navbar-brand" href="/Tools_VungLamViec/Index">COFFEE - CÔNG CỤ QUẢN LÝ</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li id="vungThongBao" class="dropdown"></li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            @{ 
                try
                {
                    @Html.Action("PartProfileNavTools", "Home");
                }
                catch{ }

            }
            <!-- User Info -->

            <!-- Menu -->
            @{
                try
                {
                    @Html.Action("PartMenuTools","Home")
                }
                catch { }
            }
            <!-- Menu -->


        
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <div>
        @RenderBody()
    </div>
    <!--Script googlemaps-->
    @RenderSection("scripts", false)

    @RenderSection("sciptajax", false)

    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <!-- Dropzone Plugin Js -->
    <script src="~/plugins/dropzone/dropzone.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="~/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- Multi Select Plugin Js -->
    <script src="~/plugins/multi-select/js/jquery.multi-select.js"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="~/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- noUISlider Plugin Js -->
    <script src="~/plugins/nouislider/nouislider.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>
    <!-- Autosize Plugin Js -->
    <script src="~/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <!-- Flot Charts Plugin Js -->
    <script src="~/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/Scripts/pages/charts/sparkline.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/admin.js"></script>
    <script src="~/scripts/pages/index.js"></script>
    <script src="~/scripts/pages/forms/basic-form-elements.js"></script>

    <!-- Demo Js -->
    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/pages/forms/form-wizard.js"></script>






</body>
</html>
