@{
    ViewBag.Title = "Chỉnh sửa nguyên liệu";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}



@section stylecustom{

<link href="~/Content/styleTool.css" rel="stylesheet" />

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
<link href="~/Content/jquery.Jcrop.min.css" rel="stylesheet" />
}
@section sciptajax{
<script src="~/Scripts/jquery.Jcrop.js"></script>

<script type="text/javascript">
    @Html.Raw(ViewBag.ScriptCropImage)
</script>
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nguyên liệu - Nhà cung cấp > Danh mục nguyên liệu > Chỉnh sửa nguyên liệu</h2>
        </div>


        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">layers</i>
                                <span class="font-20">CHỈNH SỬA THÔNG TIN NGUYÊN LIỆU</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="~/NguyenLieu/nl_TaoMoiNguyenLieu">
                                            <i class="material-icons">add</i> TẠO MỚI NGUYÊN LIỆU
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="~/NguyenLieu/nl_TableNguyenLieu">
                                            <i class="material-icons">list</i> DANH MỤC NGUYÊN LIỆU
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="body">
                        @using (Html.BeginForm("nl_ChinhSuaNguyenLieu", "NguyenLieu", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            
                             <div class="row">
                                <div class="col-md-7 col-lg-7">

                                    <input name="txtMaNguyenLieu" id="txtMaNguyenLieu" value="@ViewBag.txtMaNguyenLieu" style="display:none" />

                                    <label for="txtTenNhom">Chọn loại nguyên liệu</label>
                                    <select class="form-control show-tick" id="cbbLoai" name="cbbLoai">
                                        <option value="-1">-- Lựa chọn loại nguyên liệu--</option>
                                        @Html.Raw(ViewBag.cbbLoai)
                                    </select>
                                    <br /><br />
                                    <label for="txtTenNguyenLieu">Tên nguyên liệu</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtTenNguyenLieu" name="txtTenNguyenLieu" class="form-control" required maxlength="50"
                                                   placeholder="Nhập tên nguyên liệu tại đây" value="@ViewBag.txtTenNguyenLieu">
                                        </div>
                                    </div>
                                    <label for="txtMoTa">Mô tả</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" id="txtMoTa" class="form-control no-resize" name="txtMoTa" required
                                                      placeholder="Nhập thông tin mô tả cho nguyên liệu">@ViewBag.txtMoTa</textarea>
                                        </div>
                                    </div>

                                    <div class="row clearfix">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <label for="txtThoiHan">Thời gian sử dụng</label>
                                            <div class="row clearfix">
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" id="txtThoiHan" class="form-control" min="0" required name="txtThoiHan"
                                                                   placeholder="Nhập thời hạn được phép sử dụng nguyên liệu" value="@ViewBag.txtThoiHan">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                    <label for="txtThoiGian"><b>Ngày</b></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <label class="goiY" for="txtTyLeChuyenDoi">Tỷ lệ chuyển đổi<span class="noiDungGoiY-right">Tỷ lệ chuyển đổi từ đơn vị hiện thị sang đơn vị pha chế (VD: 1 kg = 1000 gam)</span></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="txtTyLeChuyenDoi" class="form-control" name="txtTyLeChuyenDoi" min="1" value="@ViewBag.txtTyLeChuyenDoi" placeholder="Nhập tỷ lệ chuyển đổi tại đây">
                                                </div>
                                            </div>
                                        </div>
                                                            
                                    </div>


                                    <div class="row clearfix">

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <label for="txtDonViHienThi" class="goiY">Đơn vị hiển thị<span class="noiDungGoiY-right">Đơn vị tính chuẩn dùng để hiển thị, thống kê.. (VD: kg, lít...)</span></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="txtDonViHienThi" class="form-control" name="txtDonViHienThi" min="1" value="@ViewBag.txtDonViHienThi" placeholder="Nhập đơn vị hiển thị">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <label for="txtDonViPhaChe" class="goiY">Đơn vị pha chế<span class="noiDungGoiY-right">Đơn vị tính dùng sử dụng trong pha chế (VD: gam, ml)</span></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="txtDonViPhaChe" class="form-control" name="txtDonViPhaChe" min="1" value="@ViewBag.txtDonViPhaChe" placeholder="Nhập đơn vị pha chế">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <label for="txtTenNhom">Hình nguyên liệu</label>
                                    <br />
                                    <img id="hinhDD" class='img img-responsive img-thumbnail'
                                         src="@ViewBag.hinhDD" width="250px" height="auto" />
                                    <br />
                                    <button type="button" class="btn btn-default " id="btnChonHinh"
                                            data-toggle="modal" data-target="#modalChonHinh">
                                        Chọn hình
                                    </button>
                                    <input id="pathHinh" type="hidden" name="pathHinh" value="">
                                    <br /><br />

                                    <label for="txtGhiChu">Ghi chú</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" id="txtGhiChu" class="form-control no-resize" name="txtGhiChu"
                                                      placeholder="Nhập thêm ghi chú cho đồ uống">@ViewBag.txtGhiChu</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-7"></div>

                                <div class="col-md-5">
                                    <br>
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu lại</button>
                                    <a href="/NguyenLieu/nl_TaoMoiNguyenLieu" class="btn btn-default m-t-15 waves-effect">Reset</a>
                                    <button type="button" onclick="troVeTrangTruoc()" class="btn btn-default m-t-15 waves-effect">Trở lại</button>
                                </div>
                            </div>
                            
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>
@Html.Raw(ViewBag.ThongBao)

@Html.Raw(ViewBag.modalChonHinh)








