@{
    ViewBag.Title = "Tạo mới nhà cung cấp";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}




@section stylecustom{
<link href="~/Content/styleTool.css" rel="stylesheet" />

<link href="~/Content/jquery.Jcrop.min.css" rel="stylesheet" />
}
@section sciptajax{
<script src="~/Scripts/jquery.Jcrop.js"></script>

<script type="text/javascript">
    @Html.Raw(ViewBag.ScriptCropImage)
</script>

<script src="~/Scripts/validate.js"></script>
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nguyên liệu - Nhà cung cấp > Tạo mới nhà cung cấp</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">local_grocery_store</i>
                                <span class="font-20">QUẢN LÝ NHÀ CUNG CẤP</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="active">
                                        <a href="~/NhaCungCap/ncc_TaoMoiNhaCungCap">
                                            <i class="material-icons">add</i> TẠO MỚI NHÀ CUNG CẤP
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="~/NhaCungCap/ncc_TableNhaCungCap">
                                            <i class="material-icons">list</i> DANH MỤC NHÀ CUNG CẤP
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        @using (Html.BeginForm("ncc_TaoMoiNhaCungCap", "NhaCungCap", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="col-md-7 col-lg-7">
                                    <label for="txtTenNCC">Tên nhà cung cấp</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtTenNCC" class="form-control" required maxlength="50" name="txtTenNCC"
                                                   placeholder="Nhập tên nhà cung cấp nguyên liệu tại đây" value="@ViewBag.txtTenNCC">
                                        </div>
                                    </div>

                                    <label for="txtDiaChi">Địa chỉ</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtDiaChi" class="form-control" name="txtDiaChi" required maxlength="50"
                                                   placeholder="Nhập địa chỉ nhà cung cấp tại đây" value="@ViewBag.txtDiaChi">
                                        </div>
                                    </div>

                                    <label for="txtSDT">Số điện thoại</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtSDT" class="form-control" name="txtSDT" maxlength="15" required
                                                   placeholder="Nhập số điện thoại nhà cung cấp tại đây" value="@ViewBag.txtSDT">
                                        </div>
                                    </div>

                                    <label for="txtFax">FAX</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="number" id="txtFax" class="form-control" name="txtFax" maxlength="15" min="0"
                                                   placeholder="Nhập số fax nhà cung cấp tại đây" value="@ViewBag.txtFax">
                                        </div>
                                    </div>

                                    <label for="txtEmail">Email</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtEmail" class="form-control" name="txtEmail" maxlength="256"
                                                   placeholder="Nhập địa chỉ email nhà cung cấp tại đây" value="@ViewBag.txtEmail">
                                        </div>
                                    </div>

                                    <label for="txtWebSite">Website</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtWebSite" class="form-control" name="txtWebSite" maxlength="500"
                                                   placeholder="Nhập đường đẫn website nhà cung cấp tại đây (nếu có)" value="@ViewBag.txtWebSite">
                                        </div>
                                    </div>


                                    <label for="txtGhiChu">Ghi chú</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea rows="4" id="txtGhiChu" class="form-control no-resize" name="txtGhiChu"
                                                      placeholder="Nhập thêm ghi chú cho nhà cung cấp">@ViewBag.txtGhiChu</textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <label for="txtMST">Mã số thuế</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="number" id="txtMST" class="form-control" name="txtMST" maxlength="20"
                                                   placeholder="Nhập mã số thuế của nhà cung cấp tại đây" value="@ViewBag.txtMST">
                                        </div>
                                    </div>

                                    <label for="txtNgayThanhLap">Ngày thành lập</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" id="txtNgayThanhLap" class="form-control ngayValidate" name="txtNgayThanhLap" min='1899-01-01' max='2000-13-13'
                                                   placeholder="Nhập ngày thành lập của nhà cung cấp tại đây" value="@ViewBag.txtNgayThanhLap">
                                        </div>
                                    </div>



                                    <label for="hinhDD">Logo nhà cung cấp</label>
                                    <br />
                                    <img id="hinhDD" class='img img-responsive img-thumbnail'
                                         src="@ViewBag.hinhDD" width="250px" height="auto" />
                                    <br />
                                    <button type="button" class="btn btn-default " id="btnChonHinh"
                                            data-toggle="modal" data-target="#modalChonHinh">
                                        Chọn hình
                                    </button>
                                    <input id="pathHinh" type="hidden" name="pathHinh" value="">
                                    <br /><br />

                                </div>

                                <div class="col-md-7"></div>

                                <div class="col-md-5">
                                    <br>
                                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu lại</button>
                                    <a href="/NhaCungCap/ncc_TaoMoiNhaCungCap" class="btn btn-default m-t-15 waves-effect">Reset</a>
                                    <button type="button" onclick="troVeTrangTruoc()" class="btn btn-default m-t-15 waves-effect">Trở lại</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

@Html.Raw(ViewBag.ThongBao)

@Html.Raw(ViewBag.modalChonHinh)



