
@{
    ViewBag.Title = "Danh mục phiếu xuất kho";
    Layout = "~/Views/Shared/_LayoutTools.cshtml";
}


@section stylecustom{

<link href="~/Content/toolTipGoiY.css" rel="stylesheet" />
}
@section sciptajax{
@Html.Raw(ViewBag.ScriptAjax)
@Html.Raw(ViewBag.ScriptAjaxXemChiTiet)
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Nhập - Xuất kho &gt; Danh mục xuất kho</h2>
        </div>
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5">
                                <i class="material-icons">cloud_upload</i>
                                <span class="font-20">QUẢN LÝ XUẤT KHO</span>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" style="float:right">
                                    <li class="">
                                        <a href="/XuatKho/xk_TaoMoiPhieuXuat">
                                            <i class="material-icons">add</i> TẠO MỚI PHIẾU XUẤT KHO
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/XuatKho/TablePhieuXuat">
                                            <i class="material-icons">list</i> DANH MỤC PHIẾU XUẤT KHO
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr>
                                                    <th rowspan="1" width="15%" colspan="1">Số phiếu xuất</th>
                                                    <th rowspan="1" width="20%" colspan="1">Kho hàng</th>
                                                    <th rowspan="1" width="20%" colspan="1">Ngày xuất</th>
                                                    <th rowspan="1" width="15%" colspan="1">Tổng số tiền</th>
                                                    <th rowspan="1" width="15%" colspan="1">Người lập phiếu</th>
                                                    <th rowspan="1" width="15%" colspan="1">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                            </tfoot>
                                            <tbody>
                                                @Html.Raw(ViewBag.TableData)
                                                @*<tr role="row" class="odd">
                    <td>
                        <a href="#" data-toggle="modal" data-target="#modalChiTiet">
                            1321<span class="noiDungGoiY-right">Click để xem chi tiết</span>
                        </a>
                    </td>
                    <td>Kho hàng Q.12</td>
                    <td>22/11/2017 12:05:45</td>
                    <td>25.000.000</td>
                    <td>ttphu</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Chức năng <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" class="col-blue waves-effect waves-block"><i class="material-icons">create</i>Ký nhận</a></li>
                                <li><a href="#" class="col-grey waves-effect waves-block"><i class="material-icons">clear</i>Huỷ phiếu</a></li>
                                <li><a href="#" class="col-red waves-effect waves-block"><i class="material-icons">delete</i>Xoá phiếu</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 pull-right">
                                    <div class="pull-right" id="DataTables_Table_0_paginate">
                                        @Html.Raw(ViewBag.PhanTrang)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>

    <!-- Modal cho danh sách chi tiết hoá đơn-->
    @*<div class="modal fade" id="modalChiTiet" tabindex="-2" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg" style="width:90%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="largeModalLabel">CHI TIẾT PHIẾU XUẤT 1321</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="header bg-cyan">
                                    <h2>
                                        Danh mục nguyên liệu trong phiếu xuất
                                    </h2>
                                </div>
                                <div class="body table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên nguyên liệu</th>
                                                <th>Số lượng xuất</th>
                                                <th>Đơn giá xuất</th>
                                                <th>Ghi chú</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img width="50px;" height="50px;" src="/images/image-gallery/1.jpg">
                                                    <b>Hạt cà phê</b>
                                                </td>
                                                <td>500 kg</td>
                                                <td>20.000</td>
                                                <td>
                                                    Hàng còn tốt
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img width="50px;" height="50px;" src="/images/image-gallery/1.jpg">
                                                    <b>Hạt cà phê</b>
                                                </td>
                                                <td>500 kg</td>
                                                <td>20.000</td>
                                                <td>
                                                    Hàng còn tốt
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img width="50px;" height="50px;" src="/images/image-gallery/1.jpg">
                                                    <b>Hạt cà phê</b>
                                                </td>
                                                <td>500 kg</td>
                                                <td>20.000</td>
                                                <td>
                                                    Hàng còn tốt
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-9">
                            <div class="pull-left">
                                <label class="font-18 pull-left col-red bold">Tổng tiền: 25.000.000 VNĐ</label><br>
                                <label class="pull-left col-blue-grey"><i>* Ghi chú: </i>Ghi chú của phiếu nhập Ghi chú của phiếu xuất</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal"><i class="material-icons">exit_to_app</i>Đóng lại</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@  <!-- Modal cho danh sách chi tiết  -->
</section>

@*modal Xóa*@
@Html.Raw(ViewBag.ModalXoa)
<!--Modal xem chi tiết công thức-->
@Html.Raw(ViewBag.ModalChiTiet)